<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboard_20211003.mapper.Board_userMapper">
    <insert id="createUser" parameterType="com.example.springboard_20211003.domain.Board_user">
        INSERT INTO board_user (id,password,name,age,address)
        VALUES
            (#{id},#{password},#{name},#{age},#{address})
    </insert>

    <select id="loginUser" parameterType="com.example.springboard_20211003.domain.Board_user"
            resultType="Integer">
        SELECT count(*)
        FROM board_user
        WHERE id = #{id}
    </select>

    <update id="updateBoard" parameterType="com.example.springboard_20211003.domain.Board">
        UPDATE tbl_board
        SET title = #{title}, content = #{content}
        WHERE boardId = #{boardId};
    </update>

    <delete id="deleteBoard" parameterType="Long">
        DELETE
        FROM tbl_board
        WHERE boardId = #{boardId};
    </delete>

</mapper>