<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script th:inline="javascript">
    </script>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<div class="container">
    <form id="form" th:action="@{/board/createUser}" method="post">
        <p>ID :<input id="id" type="text" name="id"/></p>
        <p>Password : <input id="password" type="password" name="password"/></p>
        <p>Name : <input id="name" type="text" name="name"/></p>
        <p>Age : <input id="age" type="text" name="age"/></p>
        <p>Address : <input id="address" type="text" name="address"/></p>
        <button id="createUserButton" class="btn btn-danger btn-sm float-right" type="submit">회원 가입</button>
    </form>
</div>
</body>
</html>