<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script th:inline="javascript">
    </script>
    <meta charset="UTF-8">
    <title>에러 페이지</title>
</head>
<body>
    <div class="container">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <h1 class="text-center my-5">비밀번호 확인</h1>
            <form action="mypageCheck.kosmo">
                <div class="myCardList">
                    <div class="text-center">
                        <p class="txt1 secret">
                            회원님의 정보를 안전하게 보호하기 위해<br>회원 로그인 비밀번호를 다시 한 번 확인합니다
                        </p>
                        <div class="input-area">
                            <input type="password" id="pwd" name="pwd" value="" placeholder="비밀번호를 입력해주세요" autocomplete="off">
                        </div>
                        <div class="mt-1">
                            <button type="submit" class="yellowBt">확인</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>