<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<html lang="en">


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script th:inline="javascript">
        $(document).on('ready', function (e) {
            var form = $("#form");
            var boardId = [[${view.boardId}]];
            // deleteButton이라는 Id를 가진 버튼을 클릭 했을 시 로직
            $(document).on('click', '#deleteButton', function (e) {
                $('#form').attr("action","delete");
                form.append("<input type='hidden' name='boardId' value='"+boardId+"'>");
                form.append("<input type='hidden' name='_method' value='delete'>");
                console.log(form)
                form.submit();
            });
            // updateButton이라는 Id를 가진 버튼을 클릭 했을 시 로직
            $(document).on('click', '#updateButton', function (e) {
                var str = "<input class='form-control' width='250'" +
                    "placebolde='제목 입력' id='updateTitle'>";
                $("#title").html(str);
                str="<textarea class='form-control' placeholder='내용 입력' " +
                    "id='updateContent'></textarea>"
                $("#content").html(str);
                $("#updateButton").attr("id", "updateConfirmButton");
            });
            $(document).on('click', '#updateConfirmButton', function (e) {
                $('#form').attr("action", "update");
                var updateTitle = $('#updateTitle').val();
                var updateContent = $('#updateContent').val();
                form.append("<input type='hidden' name='boardId' value='"+boardId+"'>");
                form.append("<input type='hidden' name='_method' value='put'>");
                form.append("<input type='hidden' name='title' value='"+updateTitle+"'>");
                form.append("<input type='hidden' name='content' value='"+updateContent+"'>");
                form.submit();
            });
        });
    </script>

    <meta charset="UTF-8">
    <title>테스트 페이지</title>
</head>
<body>

<div class="container">
    <p>글 번호 : [[${view.boardId}]]</p>
    <p id="title">글 제목 : [[${view.title}]]</p>
    <p>글쓴이 : [[${view.name}]]</p>
    내용 :
    <div id="content">
        <textarea
                class="form-control"
                readonly="readonly"
                th:text="${view.content}"></textarea>
    </div>
    <p>조회 수 : [[${view.read}]]</p>
    <button id="deleteButton" class="btn btn-danger btn-sm float-right">삭제</button>
    <button id="updateButton" class="btn btn-info btn-sm float-right">수정</button>
    <button id="menuButton" class="btn btn-info btn-sm float-right" onclick="location.href='main'">메인으로 가기</button>

    <form id="form" th:action="@{/}" method="post">

    </form>
</div>
</body>
</html>